.list{
    margin-left: 10%;
    margin-right: 10%;
    background-color: beige;
}
.Tambah{
    margin-left: 10%;
    margin-right: 10%;
}
.Tambah h1{
    margin-left: 35%;
    padding-bottom: 30px;
}
.list h1{
    margin-left: 35%;
    padding-bottom: 30px;
}
td{
    width: 10%;
    height: 50px;
    
}
form{

}

#div1 {
    width: 350px;
    height: 70px;
    padding: 10px;
    border: 1px solid #aaaaaa;
  }